.quiz-container {
    position: absolute; /* Абсолютное позиционирование */
    top: 150px; /* Ниже навбара на 100px */
    left: 50%; /* Располагаем контейнер по горизонтали в середине страницы */
    transform: translateX(-50%); /* Центрируем контейнер относительно ширины страницы */
}

@keyframes moveQuestion {
    0% { transform: translateX(0) translateY(0); }
    100% { transform: translateX(-150px) translateY(-150px); }
}

#question-container {
    max-width: 600px;
    margin: 50px auto; /* Установите отступы сверху и снизу 50px, а по горизонтали автоматически выравнивайте контейнер */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Устанавливаем позиционирование как относительное, чтобы использовать смещение */
    right: 150px; /* Смещаем контейнер влево на 50px */
}

#completion-message {
    max-width: 600px;
    margin: 50px auto; /* Установите отступы сверху и снизу 50px, а по горизонтали автоматически выравнивайте контейнер */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Устанавливаем позиционирование как относительное, чтобы использовать смещение */
    right: 150px;
}
.question-animation {
    animation: moveQuestion 0.5s ease-out forwards;
}

/* Общие стили для вопросов и ответов */
.question {
    margin-bottom: 15px; /* Добавляем отступ между вопросами */
}

/* Стили для кнопки "Проверить ответы" */
button[type="submit"] {
    background-color: #007bff; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста кнопки */
    padding: 10px 20px; /* Внутренние отступы кнопки */
    border: none; /* Убираем границу */
    border-radius: 5px; /* Закругляем углы кнопки */
    cursor: pointer; /* Курсор при наведении */
}

button[type="submit"]:hover {
    background-color: #0056b3; /* Изменяем цвет фона при наведении */
}


/* Форма для пользователя*/
#my-form {
    margin-top: 20px;
    font-family: Arial, sans-serif;
    text-align: center; /* Центрирование содержимого формы */
}

#my-form label {
    font-weight: bold;
    margin-bottom: 5px; /* Уменьшаем расстояние между метками и полями */
}

#my-form input[type="text"],
#my-form input[type="email"],
#my-form input[type="tel"],
#my-form input[type="date"] {
    width: 300px; /* Ширина полей */
    padding: 10px;
    margin: 5px auto; /* Центрирование и уменьшение расстояния между полями */
    display: block; /* Размещение полей на разных строках */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#my-form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; /* Увеличиваем расстояние между полем даты и кнопкой */
}

#my-form button[type="submit"]:hover {
    background-color: #0056b3;
}